Разбор дата сета - HOUSING

In [1]:
HOUSING_PATH = "housing.csv"

In [2]:
import pandas as pd

housing = pd.read_csv(HOUSING_PATH)
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

# Домашняя работа

1. Масштабирование:
    а. Нормализовать признак - median_income
    б. Привести признак - population к масштабу от 0 до 100
    
2. Заполнение пропусков:
    а. Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity
    Например, если пропущенно значение в строке с категорией INLAND, нужно заполнить его средним значением по этой категории
    
3. Категорийные атрибуты:
    а. Посчитать среднее кол-во комнат в строке (total_rooms/households)
    б. Разбить полученный столбец на группы на ваше усмотрение (Например, 1 комната, 2 комнаты, 3 и более комнат)

### Задание 1

In [8]:
# a Нормализовать признак - median_income

in_mean = housing.median_income.mean()

in_std = housing.median_income.std()

in_min = housing.median_income.min()

in_max = housing.median_income.max()

# записываем нормализованный median_income
housing['median_income_norm_std'] = (housing['median_income'] - in_mean) / in_std
housing['median_income_norm_mm'] = (housing['median_income'] - in_min) / (in_max - in_min)

In [11]:
housing.filter(items = ['median_income_norm_std', 'median_income_norm_mm']).head()

   median_income_norm_std  median_income_norm_mm
0                2.344709               0.539668
1                2.332181               0.538027
2                1.782656               0.466028
3                0.932945               0.354699
4               -0.012881               0.230776

In [12]:
# a тоже самое с помощью библиотеке sklearn

from sklearn.preprocessing import StandardScaler 
scale_std = StandardScaler()

np_scaled = scale_std.fit_transform(housing[['median_income']])
median_income_std = pd.DataFrame(np_scaled)

from sklearn.preprocessing import MinMaxScaler
scale_mm = MinMaxScaler()

mp_scaled = scale_mm.fit_transform(housing[['median_income']])
median_income_mm = pd.DataFrame(mp_scaled)

In [13]:
print(median_income_std.head())
print(median_income_mm.head())

          0
0  2.344766
1  2.332238
2  1.782699
3  0.932968
4 -0.012881
          0
0  0.539668
1  0.538027
2  0.466028
3  0.354699
4  0.230776

In [ ]:
# b Привести признак - population к масштабу от 0 до 100

In [14]:
min_max_scaler = MinMaxScaler(feature_range=(0,100))

mm_scaled = min_max_scaler.fit_transform(housing[['population']])
population_norm = pd.DataFrame(mm_scaled)

In [15]:
population_norm.tail()

              0
20635  2.359932
20636  0.989378
20637  2.813980
20638  2.068444
20639  3.879032

### Задание 2

In [ ]:
# a Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity

In [16]:
avg_broom = housing.groupby(['ocean_proximity']).mean()['total_bedrooms']

avg_broom

ocean_proximity
<1H OCEAN     546.539185
INLAND        533.881619
ISLAND        420.400000
NEAR BAY      514.182819
NEAR OCEAN    538.615677
Name: total_bedrooms, dtype: float64

In [17]:
# создаем дубль переменной total_bedrooms
housing['total_bedrooms_3'] = housing['total_bedrooms']

In [26]:
def missingdata(housing):
    '''
    считаем кол-во и долю пропущеных значений
    '''
    total = housing.isnull().sum().sort_values(ascending = False)
    percent = (housing.isnull().sum()/housing.isnull().count()*100).sort_values(ascending = False)
    ms=pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    ms= ms[ms["Percent"] > 0]
    return ms

In [27]:
missingdata(housing)

                  Total   Percent
total_bedrooms_3    207  1.002907
total_bedrooms      207  1.002907

In [28]:
avg_broom[0]

546.5391852999778

In [29]:
def tb(data):
    '''
    заполняем значения total_bedrooms_3
    '''
    if data == '<1H OCEAN':
        return avg_broom[0]
    elif data == 'INLAND': 
        return avg_broom[1]
    elif data == 'ISLAND':
        return avg_broom[2]
    elif data == 'NEAR BAY':
        return avg_broom[3]
    else:
        return avg_broom[4]

In [30]:
housing['total_bedrooms_3'].fillna(housing['ocean_proximity'].apply(tb), inplace = True)

In [32]:
missingdata(housing)

                Total   Percent
total_bedrooms    207  1.002907

In [61]:
housing.loc[20460]

longitude                   -118.75
latitude                      34.29
housing_median_age               17
total_rooms                    5512
total_bedrooms                  NaN
population                     2734
households                      814
median_income                6.6073
median_house_value           258100
ocean_proximity           <1H OCEAN
median_income_norm_std      1.44047
median_income_norm_mm      0.421194
total_bedrooms_3            546.539
Name: 20460, dtype: object

### Задание 3

In [63]:
# a Посчитать среднее кол-во комнат в строке (total_rooms/households)

housing['avg_room_per_holder'] = housing['total_rooms'] / housing['households']

housing.filter(items = ['avg_room_per_holder']).head()

   avg_room_per_holder
0             6.984127
1             6.238137
2             8.288136
3             5.817352
4             6.281853

In [ ]:
# b Разбить полученный столбец на группы на ваше усмотрение (Например, 1 комната, 2 комнаты, 3 и более комнат)

In [65]:
housing['room_round'] = housing['avg_room_per_holder'].round()

housing.filter(items = ['room_round']).head()

   room_round
0         7.0
1         6.0
2         8.0
3         6.0
4         6.0

In [66]:
# смотрим статистики по переменной Среднее кол-во комнат
housing['room_round'].describe()

count    20640.000000
mean         5.424806
std          2.491940
min          1.000000
25%          4.000000
50%          5.000000
75%          6.000000
max        142.000000
Name: room_round, dtype: float64

In [67]:
def category(df):
    '''
    присваиваем категорияю по кол-ву комнат
    '''
    if df < 3:
        return 'under rooms'
    elif df > 5:
        return 'many rooms'
    else:
        return 'norm rooms'

In [68]:
housing['category'] = housing['room_round'].apply(category)

In [70]:
housing.filter(items = ['room_round', 'category']).head(10)

   room_round    category
0         7.0  many rooms
1         6.0  many rooms
2         8.0  many rooms
3         6.0  many rooms
4         6.0  many rooms
5         5.0  norm rooms
6         5.0  norm rooms
7         5.0  norm rooms
8         4.0  norm rooms
9         5.0  norm rooms